:root {
    --animation-duration: 0.8s;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../assets/fonts/Nunito-Black.woff2") format("woff2");
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    background: url("../assets/img/clouds.svg") no-repeat top 40px center,
    linear-gradient(180deg, #c2e5fe 0%, #ffffff 50%) no-repeat;
}